*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Fascinate', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("../images/amy-tran-L2owAEPX0Vk-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.hidden {
    display: none;
}

.title {
    color: #ff316f;
    background-color: #f0f0f0;
    border-radius: .5rem;
    padding: 0 .75rem;
    margin-top: .5rem;
    text-shadow: 0 0 .2rem #fff;
    font-weight: bold;
}

#audio-accept {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #ff316f;
    color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 40vh;
    font-size: 3vw;
}

.controls {
    margin: 2rem auto 2rem auto;
}

.controls button {
    padding: 1rem 1.75rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 1px solid #f0f0f0;
    border-radius: .5rem;
    box-shadow: 0 0 3rem #f0f0f085;
    z-index: 100;
    cursor: pointer;
    background-color: #ff316f;
    color: #f0f0f0;
}

.score-txt {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.459);
    background-color: #f0f0f0;
    box-shadow: 0 0 2rem #f0f0f0;
    padding: .4rem 1rem;
}

#score {
    color: #ff31b0;
    font-weight: bold;
    font-size: 1.5;
}

#game {
    cursor: none;
    border: 8px solid #ff316f;
    border-radius: .25rem;
    box-shadow: 0 0 2.5rem #00000077;
    height: 60vh;
    width: 50rem;
    background-color: #f0f0f0;
}

#marteau {
    position: absolute;
    width: 60px;
    transform-origin: bottom;
    z-index: 1000;
}

.frappe {
    animation-name: frappe;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.home-mobs {
    position: absolute;
    width: 40px;
    animation-name: mobsDanceHome;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mobs {
    position: absolute;
    animation-name: mobsDance;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.mob1 {
    filter: hue-rotate(110deg);
}

.mob2 {
    filter: hue-rotate(130deg);
}

.mob3 {
    filter: hue-rotate(150deg);
}

.end-game {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    background-color: #ff31b02f;
    font-size: 6rem;
    color: #ff316f;
    z-index: 1000;
}

.ombre {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .75);
    margin-top: 3rem;
    width: 27.5rem;
}

.zone-test {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid rgba(255, 35, 35, 0.8);
    background: radial-gradient(rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.1));
    box-shadow: 0 0 2rem rgba(255, 0, 0, .5);
    border-radius: 50%;
    z-index: 100;
}

.exp-anim {
    position: fixed;
}

.exp-anim span {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ff316f00;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transform-origin: center;
    animation-name: explode;
    animation-duration: .3s;
    animation-iteration-count: forwards;
    animation-timing-function: ease-in-out;
}

.exp-anim span:nth-child(2) {
    animation-delay: .1s;
}

@keyframes explode {
    0% {
        transform: scale(1);
        border: 10px solid #ff316f;
    }
    100% {
        transform: scale(20);
        border: 10px solid #ff316f00;
    }
}

@keyframes frappe {
    0% {
        transform: rotate(-0deg)
    }
    20% {
        transform: rotate(-75deg) scale(1.35)
    }
    100% {
        transform: rotate(-0deg)
    }
}

@keyframes mobsDance {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(-35deg)
    }
    50% {
        transform: rotate(80deg)
    }
    75% {
        transform: rotate(-125deg)
    }
    100% {
        transform: rotate(5deg)
    }
}

@keyframes mobsDanceHome {
    /* PART 1 */
    0% {
        transform: rotate(0);
        left: 0;
        top: 40vh;
        opacity: 0.2;
    }
    510% {
        transform: rotate(-20deg);
        top: 60vh;
    }
    25% {
        transform: rotate(35deg);
        top: 20vh;
        opacity: .8;
    }
    35% {
        transform: rotate(-55deg);
        top: 60vh;
    }
    47.5% {
        transform: rotate(5deg);
        top: 20vh;
        left: calc(100% - 45px);
        opacity: 0;
    }
    /* PART 2 */
    52.5% {
        opacity: 0;
        transform: rotate(0);
        left: 0;
        top: 80vh;
    }
    60% {
        transform: rotate(-20deg);
        top: 30vh;
    }
    75% {
        transform: rotate(35deg);
        top: 70vh;
        opacity: .8;
    }
    90% {
        transform: rotate(-55deg);
        top: 10vh;
    }
    100% {
        transform: rotate(5deg);
        top: 90vh;
        left: calc(100% - 45px);
        opacity: 0;
    }
}